{% extends 'base/profile-base.html' %}
{% load range_filter %}
{% block profile_base %}
    {% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="Advertiserlar uchun admin panel">
        <link rel="icon" href="https://admin.100k.uz/favicon.ico">
        <link rel="apple-touch-icon" href="https://admin.100k.uz/logo192.png">
        <link rel="manifest" href="https://admin.100k.uz/manifest.json">
        <title>Reklamachilar kabineti</title>
    </head>
    <body>
    <div id="root">
        <form method="post" action="{% url 'profile' request.user.pk %}">
            {% csrf_token %}
            <div class="profile-account">
                <h2>Shaxsiy ma'lumotlar</h2>
                <div class="profile-card">
                    <img alt="">
                    <div class="profile-card__info">
                        <h3>Jasmina</h3>
                        <div class="avatar-upload">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                />
                            </svg>
                            <p>Rasmni o‘zgartirish</p>
                            <input type="file" accept="image/*">
                        </div>
                    </div>
                    <div class="right">
                        <span class="hr-line"></span>
                        <div class="user-id">
                            <h5>{{ user.id }}</h5>
                            <p>Sizning ID raqamingiz</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Ma’lumotlarni o‘zgartirish</h3>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-input-v2">
                                <label class="form-label" for="id_phone_number">Telefoningiz</label>
                                <input name="phone_number" type="text"
                                       value="{{ request.user.phone_number|default_if_none:'' }}"
                                       class="form-control"
                                       maxlength="255"
                                       placeholder="+998 (XX) XXX-XX-XX"
                                       id="id_phone_number">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-input-v2">
                                <label class="form-label" for="email">Email</label>
                                <input id="id_email" name="email" type="email"
                                       value="{{ request.user.email|default_if_none:'' }}"
                                       class="form-control"
                                       autocomplete="off"
                                       maxlength="255"
                                       placeholder="example@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-input-v2">
                                <label class="form-label" for="id_first_name">Ismingiz</label>
                                <input name="first_name" type="text"
                                       value="{{ request.user.first_name|default_if_none:'' }}"
                                       class="form-control"
                                       autocomplete="off"
                                       maxlength="255"
                                       placeholder="Ism"
                                       id="id_first_name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-input-v2">
                                <label class="form-label" for="id_last_name">Familiya</label>
                                <input name="last_name" type="text"
                                       value="{{ request.user.last_name|default_if_none:'' }}"
                                       class="form-control"
                                       autocomplete="off"
                                       maxlength="255"
                                       placeholder="Familiya"
                                       id="id_last_name">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="profile__submit">O‘zgarishlarni saqlash</button>
                </div>
            </div>
        </form>
    </div>
    <div id="modal"></div>
    <div id="select-menus"></div>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2Ces7%2CString.prototype.replaceAll%2CSymbol.replace"></script>
    <script src="{% static 'profile_files/script.js' %}"></script>
    </body>
{% endblock %}
