{% extends 'account-base.html' %}
{% block account_base %}
    {% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="Advertiserlar uchun admin panel">
        <link rel="apple-touch-icon" href="https://admin.100k.uz/logo192.png">
        <link rel="stylesheet" href="{% static 'dashboard_files/all.min.css' %}">
        <link href="{% static 'dashboard_files/main.bbfc6021.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard_files/154.45bd50c0.chunk.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard_files/88.3f709be3.chunk.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard_files/905.a466c525.chunk.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard_files/164.8fd4a5f2.chunk.css' %}">
    </head>
    <body>
    <div id="root">
        <div class="app" style="position: relative;">
            <div class="layout">
                <div class="page-wrapper">
                    <main class="page-content">
                        <div class="dashboard">
                            <div class="container">
                                <div class="top">
                                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                         class="profile-img" style="height: 35px; width: 35px;">
                                        <path fill-rule="evenodd"
                                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <p class="">Jasmina </p>
                                    <p class="subtitle" style="padding-top: 10px;">Saytda "2025-04-17" chi sanadan </p>
                                    <p class="subtitle" style="padding-top: 0px; color: rgb(221, 221, 221);">Biz bilan
                                        bog'lanish: <a href="https://t.me/stok_support_bot"
                                                       style="color: rgb(244, 67, 54);">@stok_support_bot</a></p></div>
                                <div class="balance-card"><p>Hisobingizda</p>
                                    <h2>0 bonus</h2>
                                    <div class="space-b"><p>Tahminiy balans: 0 bonus</p><h4>100k</h4></div>
                                </div>
                                <div class="statistics"></div>
                                <div class="category__cards"><a
                                        href="https://telegra.ph/100kuz-Adminlar-uchun-qollanma-11-15"
                                        class="category__card" target="_blank" rel="noreferrer">
                                    <div class="category__card-icon"><i class="fa-solid fa-circle-exclamation"></i>
                                    </div>
                                    <p class="category__card-text">Dastur haqida</p></a><a class="category__card"
                                                                                           href="https://admin.100k.uz/request">
                                    <div class="category__card-icon"><i class="fa-solid fa-list-ul"></i></div>
                                    <p class="category__card-text">So'rovlar (0)</p></a><a class="category__card"
                                                                                           href="https://admin.100k.uz/balance-history">
                                    <div class="category__card-icon"><i class="fa-solid fa-money-bill-1"></i></div>
                                    <p class="category__card-text">Balans tarixi</p></a><a class="category__card"
                                                                                           href="https://admin.100k.uz/penalty">
                                    <div class="category__card-icon"><i class="fa-solid fa-triangle-exclamation"></i>
                                    </div>
                                    <p class="category__card-text">Jarimalar</p></a><a class="category__card"
                                                                                       href="https://admin.100k.uz/diagram">
                                    <div class="category__card-icon"><i class="fa-solid fa-chart-simple"></i></div>
                                    <p class="category__card-text">Diagrammalar</p></a><a class="category__card"
                                                                                          href="https://admin.100k.uz/charity">
                                    <div class="category__card-icon"><i class="fa-solid fa-box"></i></div>
                                    <p class="category__card-text">Hayriya qutisi</p></a></div>
                                <div class="dashboard-news">
                                    <div class="news__item p-10 mb-10"><img
                                            src="{% static 'dashboard_files/RuSSSzg5mdqoBDeqiF1H8TO6jedSkZRPAC2j8soG.png' %}"
                                            alt="">
                                        <div class="news__content"><h2 class="title">Bepul yetqazish funksiyasi butunlay
                                            saytdan olib tashlanadi.</h2>
                                            <div class="subtitle"><p>Hurmatli adminlar, 25 iyul kuniga qadar “<strong>yetqazib
                                                berish bepul</strong>” deb olingan oqimlarni yangilashingizni soraymiz.
                                                Aks
                                                holda narxlarda xatoliklar kuzatilishi mumkin.</p></div>
                                            <p class="release_date caption-l"><span class="date">17.06.2023</span><span
                                                    class="time">19:22</span></p></div>
                                    </div>
                                    <div class="news__item p-10 mb-10"><img
                                            src="{% static 'dashboard_files/U3hyGBUZt7GqFCA1uZpVuYFBrHDENHCYY9zURV8Z.png' %}"
                                            alt="">
                                        <div class="news__content"><h2 class="title">Mahsulotlarni zaxirasi boyicha
                                            malumot
                                            olish usuli</h2>
                                            <div class="subtitle"><p>Mahsulotlarni zaxirasini bilish uchun 1 o'rinda
                                                mahsulot sotuvchi bilan boglaning.<br>Buning uchun market bolimiga kirib
                                                kerakli mahsulotni toping va yuqoridagi <strong>skrenda</strong>
                                                korsatilgandek sotuvchi nomi ustiga bosing.&nbsp;<br>Sotuvchi javob
                                                bermagan
                                                holda 100k chat gruhidagi adminlarga murojat etishingiz mumkin.</p>
                                            </div>
                                            <p class="release_date caption-l"><span class="date">09.07.2023</span><span
                                                    class="time">03:09</span></p></div>
                                    </div>
                                    <div class="news__item p-10 mb-10"><img
                                            src="{% static 'dashboard_files/0omJTqjstiPnhsRAWOgDIfK5WdpUoyFJcUgA8KUx.png' %}"
                                            alt="">
                                        <div class="news__content"><h2 class="title">Mahsulotlarga admin hisobidan
                                            chegirma
                                            berish funksiyasi butunlay olib tashlanadi.</h2>
                                            <div class="subtitle"><p>Admin hisobidan chegirma berish funksiyasi orqali
                                                kelib
                                                chiqayotgan tushunmovchiliklar va arxiv sorovlar soni kopayib borgani
                                                tufayli <strong>Admin hisobidan chegirma &nbsp;</strong>funksiyasi
                                                saytdan
                                                butunlay olib tashlanadi.&nbsp;</p></div>
                                            <p class="release_date caption-l"><span class="date">18.10.2023</span><span
                                                    class="time">17:15</span></p></div>
                                    </div>
                                    <a class="show-all" href="https://admin.100k.uz/news">Barchasini ko‘rish</a></div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div style="position: fixed; z-index: 9999; inset: 16px; pointer-events: none;"></div>
    </div>
    <div id="modal">
        <div class="modal close modal-news">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <div class="modal__box">
                    <div class="modal__header"><p class="modal__title"></p>
                        <div style="padding: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                 class="select-modal__close-icon"
                                 style="cursor: pointer;">
                                <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="page-news page-news-view" style="position: relative;">
                        <div class="container goback-header__container">
                            <div class="goback-header">
                                <div class="goback-header__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path d="M362.7 203.9l-159.1 144c-6.125 5.469-15.31 5.469-21.44 0L21.29 203.9C14.73 197.1 14.2 187.9 20.1 181.3C26.38 174.4 36.5 174.5 42.73 180.1L192 314.5l149.3-134.4c6.594-5.877 16.69-5.361 22.62 1.188C369.8 187.9 369.3 197.1 362.7 203.9z"></path>
                                    </svg>
                                </div>
                                <div class="btn"> Yangiliklar</div>
                                <div class="end mobile-menu">
                                </div>
                            </div>
                        </div>
                        <div class="spinner">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="100px"
                                 height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
                                 style="fill: rgb(48, 104, 131);">
                                <g transform="rotate(0 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.3107344632768362s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(30 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.2824858757062147s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(60 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.2542372881355932s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(90 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.22598870056497175s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(120 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.1977401129943503s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(150 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.16949152542372883s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(180 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.14124293785310735s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(210 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.11299435028248588s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(240 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.08474576271186442s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(270 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.05649717514124294s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(300 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="-0.02824858757062147s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                                <g transform="rotate(330 50 50)">
                                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="inherit">
                                        <animate attributeName="opacity" values="1;0" keyTimes="0;1"
                                                 dur="0.33898305084745767s" begin="0s"
                                                 repeatCount="indefinite"></animate>
                                    </rect>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="close-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="select-menus"></div>
    <input id="copy" style="opacity:0;height:0;position:absolute;z-index:-1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2Ces7%2CString.prototype.replaceAll%2CSymbol.replace"></script>
    <script src="{% static 'dashboard_files/script.js' %}"></script>
    </body>
{% endblock %}