{% extends 'auth/100k.uz.html' %}
{% block base %}
    <main class="client-template">
        <section class="main">


            <div class="container border-bottom-4">
                <div class="header_tab_menu">
                    <div class="header_menu" style="overflow: auto">
                        <a href="https://100k.uz/explore" class="btn btn-default">Barchasi</a>

                        <a href="https://100k.uz/explore/10689" class="btn btn-default  "> Dacha, bogʻ va tomorqa</a>
                        <a href="https://100k.uz/explore/10601" class="btn btn-default  "> Kitoblar</a>
                        <a href="https://100k.uz/explore/10534" class="btn btn-default  "> Hayvonlar uchun tovarlar</a>
                        <a href="https://100k.uz/explore/10420" class="btn btn-default  "> Kanselyariya tovarlari</a>
                        <a href="https://100k.uz/explore/10378" class="btn btn-default  "> Maishiy kimyoviy moddalar</a>
                        <a href="https://100k.uz/explore/10294" class="btn btn-default  "> Oziq-ovqat mahsulotlari</a>
                        <a href="https://100k.uz/explore/10194" class="btn btn-default  "> Sport va hordiq</a>
                        <a href="https://100k.uz/explore/10119" class="btn btn-default  "> Xobbi va ijod</a>
                        <a href="https://100k.uz/explore/10043" class="btn btn-default  "> Bolalar tovarlari</a>
                        <a href="https://100k.uz/explore/9916" class="btn btn-default  "> Avtotovarlar</a>
                        <a href="https://100k.uz/explore/9820" class="btn btn-default  "> Qurilish va taʼmirlash</a>
                        <a href="https://100k.uz/explore/9718" class="btn btn-default  "> Uy-roʻzgʻor buyumlari</a>
                        <a href="https://100k.uz/explore/9656" class="btn btn-default  "> Salomatlik</a>
                        <a href="https://100k.uz/explore/9569" class="btn btn-default  "> Goʻzallik va parvarish</a>
                        <a href="https://100k.uz/explore/9501" class="btn btn-default  "> Aksessuarlar</a>
                        <a href="https://100k.uz/explore/9443" class="btn btn-default  "> Poyabzallar</a>
                        <a href="https://100k.uz/explore/9386" class="btn btn-default  "> Kiyim</a>
                        <a href="https://100k.uz/explore/9335" class="btn btn-default  "> Maishiy texnika</a>
                        <a href="https://100k.uz/explore/9245" class="btn btn-default active "> Elektronika</a>
                    </div>

                </div>

                <style>
                    .header_menu {
                        padding: 12px;
                    }

                    .header_menu .btn-default {
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        padding: 10px;
                        font-size: 15px;
                    }

                    .header_menu .btn-default.active, .header_menu .btn-default:hover {
                        background-color: #eee;
                    }
                </style>
            </div>

            <div class="container" id="productsList">
                <div class="content_grid">
                    <div id="product-list" class="row">

                        {% for product in products %}
                            <div class="col-sm-3 col-4" style="padding: 1px">
                                <div class="content_grid_card" style="padding: 0px">
                                    <a href="{% url 'product_detail' %}">
                                        <img loading="lazy" class=" lazyloaded"
                                             src="{{ product.image.url }}"
                                             alt="{{ product.name }}">
                                    </a>

                                    <div class="content_grid_card_price">
                                        <p> ${{ product.price }} </p>
                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}