{% extends 'auth/100k.uz.html' %}
{% block base %}
    <main class="client-template">
        <section class="main">
            <div id="notifications-container"></div>

            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col my-3 pr-3">
                        <h1 class="h4 font-weight-bold mb-0">Avtomobil uchun miltillovchi chiroq</h1>
                    </div>
                    <div class="col-auto my-3 text-right">
                        <strong data-price="87000" id="productPrice" class="position-price1">
                            87,000 so'm
                        </strong>
                        <div class="text-warning">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>

                <form id="orderForm" method="POST" action="/create-order">
                    <input type="hidden" name="_token" value="6ucQhpTuNQ28LLJ9zQUiW84uGpd1OG1PWJiTvM8a">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="owl-carousel owl-theme content_linear_card_body_indicators owl-loaded owl-drag">


                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(-1570px, 0px, 0px); transition: all; width: 5890px;">
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/UklE1rrSsvvKkXxYQBUdwtm9qQKfK37InI4CbT7e.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/UklE1rrSsvvKkXxYQBUdwtm9qQKfK37InI4CbT7e.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/WZbQLfDX8Fk9cS110uWyj5ADgmdDnfbR4fLRvoc6.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/WZbQLfDX8Fk9cS110uWyj5ADgmdDnfbR4fLRvoc6.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/h5egeF3LD9FoGlYyjcyQDWrJLSKCjpstVGgglQqz.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/h5egeF3LD9FoGlYyjcyQDWrJLSKCjpstVGgglQqz.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 392.6px;">
                                            <div class="item-video">
                                                <video width="100%" controls="">
                                                    <source src="https://100k.website.yandexcloud.net/products/video/OHAbjyiGgu1afRfwmPgCvo5oWqUnrXyi5pEa0QaP.mp4"
                                                            type="video/mp4">
                                                    Sizning brovseringiz ushbu videoni oqiy olmaydi
                                                </video>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/cuhdvtqT6zoYKKD1RhjoDpypUZryaXQrYYKxG0F5.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/cuhdvtqT6zoYKKD1RhjoDpypUZryaXQrYYKxG0F5.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/lpCbzrNUvcbReXBGMBc4HsX4dhgaS5C4iVGVsbAW.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/lpCbzrNUvcbReXBGMBc4HsX4dhgaS5C4iVGVsbAW.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/UklE1rrSsvvKkXxYQBUdwtm9qQKfK37InI4CbT7e.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/UklE1rrSsvvKkXxYQBUdwtm9qQKfK37InI4CbT7e.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class="lazyload"
                                                     src="https://100k.uz/assets/img/loading.gif"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/WZbQLfDX8Fk9cS110uWyj5ADgmdDnfbR4fLRvoc6.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class="lazyload"
                                                     src="https://100k.uz/assets/img/loading.gif"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/h5egeF3LD9FoGlYyjcyQDWrJLSKCjpstVGgglQqz.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item-video">
                                                <video width="100%" controls="">
                                                    <source src="https://100k.website.yandexcloud.net/products/video/OHAbjyiGgu1afRfwmPgCvo5oWqUnrXyi5pEa0QaP.mp4"
                                                            type="video/mp4">
                                                    Sizning brovseringiz ushbu videoni oqiy olmaydi
                                                </video>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/cuhdvtqT6zoYKKD1RhjoDpypUZryaXQrYYKxG0F5.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/cuhdvtqT6zoYKKD1RhjoDpypUZryaXQrYYKxG0F5.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/lpCbzrNUvcbReXBGMBc4HsX4dhgaS5C4iVGVsbAW.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/lpCbzrNUvcbReXBGMBc4HsX4dhgaS5C4iVGVsbAW.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 392.6px;">
                                            <div class="item">
                                                <img loading="lazy" class=" ls-is-cached lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/ziL7PICmlK4ROHON3CpN5OYuKKVz8K2y8eBB7hyP.png.webp"
                                                     alt="Avtomobil uchun miltillovchi chiroq">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <button type="button" role="presentation" class="owl-prev"><span
                                            aria-label="Previous">‹</span></button>
                                    <button type="button" role="presentation" class="owl-next"><span
                                            aria-label="Next">›</span></button>
                                </div>
                                <div class="owl-dots">
                                    <button role="button" class="owl-dot active"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                </div>
                            </div>
                        </div>

                        <div id="orderFormSection" class="col-md-6 pl-md-4 mb-4">
                            <div class="orderForm sk-form d-flex flex-column justify-content-between"
                                 style="min-height:100%;">
                                <div>
                                    <h2 class="h3 font-weight-bold mb-4"><a href="#orderFormSection">Buyurtma berish</a>
                                    </h2>

                                    <p class="mb-3">Mahsulot narxi: <strong class="pricetag position-price2">87,000
                                        so'm</strong></p>

                                    <div class="alert alert-info">
                                        <strong>Yetqazib berish narxi: 30,000 so'm</strong>
                                    </div>
                                </div>


                                <div class="my-3">
                                    <input type="hidden" name="product_id" value="1292">
                                    <input type="hidden" name="stream_id" value="">
                                    <input type="hidden" name="store_id" value="26">

                                    <input type="hidden" name="product_item_id" value="861">


                                    <div class="form-group">
                                        <input class="form-control needclear" name="client_full_name"
                                               placeholder="Ismingiz" type="text">
                                        <div id="error_client-name" style="display: none" class="text-danger"></div>
                                    </div>

                                    <div class="form-group">
                                        <input class="my-phone-mask form-control needclear" name="customer_phone"
                                               id="customer_phone" placeholder="Telefon raqamingiz" type="text">
                                        <div id="error_client-phone" style="display: none" class="text-danger"></div>
                                    </div>

                                    <div id="partialCountryState">
                                        <div class="form-group">
                                            <select required="" class="form-control" name="region_id">
                                                <option value="" selected="selected">Hududni tanlang ⬇</option>
                                                <option value="13">Toshkent shahri</option>
                                                <option value="12">Andijon</option>
                                                <option value="11">Buxoro</option>
                                                <option value="1">Fargona</option>
                                                <option value="10">Jizzax</option>
                                                <option value="6">Namangan</option>
                                                <option value="7">Navoiy</option>
                                                <option value="8">Qashqadaryo</option>
                                                <option value="9">Qoraqalpogiston</option>
                                                <option value="5">Samarqand</option>
                                                <option value="3">Sirdaryo</option>
                                                <option value="4">Surxondaryo</option>
                                                <option value="2">Toshkent viloyati</option>
                                                <option value="14">Xorazm</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-center">
                                                <button id="btnSubmit" data-attach-loading="" type="submit"
                                                        style="max-width: 100%"
                                                        class="sk-btn sk-btn--primary sk-btn--block sk-btn--lg">
                                                    Buyurtma berish
                                                    <div class="loader"></div>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#productDescription" class="nav-link active" data-toggle="tab">Batafsil ma'lumot</a>
                    </li>
                </ul>
            </div>
            <div class="productDesc py-5">
                <div class="container px-3">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="productDescription">
                            <div><p>&nbsp;Led light mini megalka</p>
                                <p>&nbsp;</p>
                                <p>Avtomobil ishqibozlari uchun 7xil rangda yonadigan Led light mini megalka&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>Xususiyatlari:</p>
                                <p>-7xil rangda;&nbsp;</p>
                                <p>-30ta rejimda ishlaydi;&nbsp;</p>
                                <p>-qadoq ichida 2 dona bo'ladi;&nbsp;</p>
                                <p>-tez zaryadlovchi usb kabel;&nbsp;</p>
                                <p>-va istalgan joyda o'rnatishingiz uchun maxsus yopishtiriladigan moslamasi
                                    chiqadi..</p>
                                <p>&nbsp;</p></div>
                        </div>

                    </div>

                </div>
            </div>


        </section>


        <!-- Modal -->
        <form data-request-flash="" data-request="onAddReview"
              data-request-success="$(this).find('input.form-control').val('')"
              data-request-update="'product/reviews-list': '#productReviewsList'" class="modal fade" id="exampleModal"
              tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Izoh qoldirish </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="product_id" value="1292">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Ismingiz</label>
                            <input type="text" name="author" class="form-control" id="exampleInputEmail1"
                                   placeholder="Ismingizni kiriting">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Izohingiz</label>
                            <textarea name="text" placeholder="Izohingizni kiriting" class="form-control"
                                      id="exampleInputPassword1"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating5" value="5"
                                       checked="">
                                <label class="form-check-label" for="rating5">
                                    Ajoyib
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating4" value="4">
                                <label class="form-check-label" for="rating4">
                                    Yaxshi
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating3" value="3">
                                <label class="form-check-label" for="rating3">
                                    Qoniqarli
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating2" value="2">
                                <label class="form-check-label" for="rating2">
                                    Yomon
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating1" value="1">
                                <label class="form-check-label" for="rating1">
                                    Juda yomon
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Izoh qoldirish</button>
                    </div>
                </div>
            </div>
        </form>

        <style>
            .form-group .btn-danger {
                background-color: #d8d8d8;
                color: black;
            }

            .position-btn-group {
                row-gap: 10px;
                flex-wrap: wrap;
            }

            .position-btn {
                font-size: 14px;
                padding: 5px;
                background-color: white !important;
                color: #0b2e13 !important;
                border: 1px solid rgba(0, 0, 0, 0.2) !important;
                box-shadow: none !important;
                font-weight: 500;
            }

            .position-btn.active {
                border: 2px solid #0b2e13 !important;
                background-color: #eee !important;
            }


            .siteFooter .container, .topLine {
                display: none;
            }

            #notifications-container {
                position: fixed;
                top: 20px;
                right: 20px;
                z-index: 9999;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .notification {
                padding: 15px 20px;
                border-radius: 5px;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                animation: fadeIn 0.5s ease;
            }

            .notify-success {
                background-color: #28a745;
            }

            .notify-error {
                background-color: #dc3545;
            }

            .notification .delete {
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                margin-left: 10px;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateY(-10px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            #productDescription {
                font-size: 20px;
            }

            .loader {
                display: none;
                position: absolute;
                top: 25%;
                left: 45%;
                z-index: 10;
                border: 4px solid #f3f3f3;
                border-radius: 50%;
                border-top: 4px solid #eb0000;
                width: 30px;
                height: 30px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

            /* Safari */
            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            #btnSubmit {
                box-sizing: border-box;
                position: relative;
            }

            .flash-error {
                display: none;
            }

            .--loading {
                border: 2px solid rgba(235, 0, 0, 0.6);
                background-color: rgba(235, 0, 0, 0.6);
            }

            .--loading:before {
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.5);
            }

            .--loading .loader {
                display: block;
            }

            /* hide search and center logo on mobile */
            @media (max-width: 767px) {
                .col-logo {
                    flex: 1 0 auto;
                    text-align: center;
                }

                .col-search {
                    display: none !important;
                }
            }

        </style>


    </main>
{% endblock %}