{#{% extends 'auth/100k.uz.html' %}#}
{#{% block base %}#}
{#    {% load humanize %}#}
{#    <main class="client-template">#}
{##}
{##}
{#        <section class="main">#}
{#            <div class="container">#}
{#                <div class="content p-4 text-center">#}
{#                    <div class="text-center1">#}
{#                        <img style="width: 50px" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Accept.svg"#}
{#                             alt="">#}
{#                    </div>#}
{#                    <br>#}
{##}
{##}
{#                    <h4> Arizangiz qabul qilindi! </h4>#}
{#                    <p>Batafsil ma'lumot uchun operator yaqin vaqt ichida siz bilan aloqaga chiqadi. </p>#}
{#                    <p>Iltimos, telefoningiz yoqilgan holda bo'lsin!</p>#}
{##}
{#                    <br>#}
{#                    <div id="checkoutForm">#}
{#                        <table class="table" style="margin-bottom: 0px">#}
{#                            <thead>#}
{#                            <tr class="text-left">#}
{#                                <th>Mahsulot</th>#}
{#                                <th>Summa</th>#}
{#                                <th></th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{##}
{#                            <tr class="text-left">#}
{#                                <th style="font-size: 18px; color: green"> Yengil va zamonaviy oq krossovkalar erkaklar#}
{#                                    uchun, 39. Soni: 1 ta#}
{#                                </th>#}
{#                                <td style="font-size: 18px; color: green"> {{ product.price|intcomma }} so'm</td>#}
{#                            </tr>#}
{##}
{#                            <tr class="text-left" style="font-size: 18px; font-weight: bold">#}
{#                                <td> Yetqazib berish summasi:</td>#}
{#                                <td> {{ delivery.price }} so'm</td>#}
{#                            </tr>#}
{##}
{#                            <tr class="text-center">#}
{#                                <td colspan="3">#}
{#                                    <strong style="font-size: 20px; color: red">#}
{#                                        {% with total=product.price|add:"30000" %}#}
{#                                            Jami <br>#}
{#                                            {{ total|intcomma }} so'm#}
{#                                        {% endwith %}#}
{#                                    </strong>#}
{#                                </td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#                <div class="related-products">#}
{##}
{#                    <div class="row">#}
{#                        {% for product in products %}#}
{#                            <div class="col-md-3 col-sm-4 col-6">#}
{#                                <div class="productsList--item">#}
{#                                    <div class="productsList--item--image">#}
{#                                        <img src="https://100k.website.yandexcloud.net/resized/250x250/products/image/9bRdlWmoee3pJYEfYwkyReQEmz74pIQ4y30OJ2mb.jpg.webp"#}
{#                                             alt="Robot kamera Holdor">#}
{#                                    </div>#}
{#                                    <div class="productsList--item--info">#}
{#                                        <div class="productsList--item--title">#}
{#                                            {{ product.name }}#}
{#                                        </div>#}
{#                                        <div class="productsList--item--price">#}
{#                                            <strong class="font-weight-bold"> {{ product.price|intcomma }}</strong>#}
{##}
{#                                            <span class="small"> so'm </span>#}
{#                                        </div>#}
{#                                        <br>#}
{#                                        <form method="POST" action="https://100k.uz/add-item-to-order/9576210">#}
{#                                            <input type="hidden" name="_token"#}
{#                                                   value="yS7nEraPZ80EsAZU4qB2nZne11d6BQ6IBl5svIDP"> <input#}
{#                                                type="hidden"#}
{#                                                name="product_id"#}
{#                                                value="2430">#}
{#                                            <input type="hidden" name="product_item_id" value="2536">#}
{#                                            <button type="submit"#}
{#                                                    class="productsList__btn btn btn-primary sk-btn sk-btn--primary sk-btn--block sk-btn--lg">#}
{#                                                Buyurtma qilish#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#                <br>#}
{#            </div>#}
{#        </section>#}
{##}
{#        <style>#}
{#            body {#}
{##}
{#            }#}
{##}
{#            .productsList__btn {#}
{#                padding: 3px;#}
{#                display: flex;#}
{#                justify-content: center;#}
{#                align-items: center#}
{#            }#}
{##}
{#            .productsList--item--image img {#}
{#                width: 100%#}
{#            }#}
{##}
{#            .related-products .content_linear_card_header {#}
{#                border-bottom: 1px solid #ddd;#}
{#            }#}
{##}
{#            .content {#}
{#                background-color: #ecf0f1;#}
{#                padding-top: 50px;#}
{#                padding-left: 10px;#}
{#                padding-right: 10px;#}
{#            }#}
{##}
{#            .productsList--item--info {#}
{#                padding: 0.45rem;#}
{#            }#}
{##}
{#            .content p {#}
{#                font-size: 16px;#}
{#            }#}
{##}
{#            .image-button a {#}
{#                border: 1px solid #fff;#}
{#            }#}
{##}
{#            .image-button a:hover, .image-button a:active, .image-button a:focus {#}
{#                background: #fff !important;#}
{#                border: 1px solid #ddd;#}
{#            }#}
{##}
{#            .table td, .table th {#}
{#                padding: 5px;#}
{#            }#}
{##}
{#            .content_linear_card ul {#}
{#                list-style: none;#}
{#                margin-left: 10px;#}
{#            }#}
{##}
{#            .content_linear_card_info_text p {#}
{#                font-size: 19px;#}
{#                line-height: inherit;#}
{#            }#}
{##}
{#            .instruction {#}
{#                text-align: center;#}
{#                margin-bottom: 20px;#}
{#                margin-top: 30px;#}
{#            }#}
{##}
{#            .instruction p {#}
{#                font-size: 18px;#}
{#                font-weight: bold;#}
{#                color: #333;#}
{#            }#}
{##}
{#            #error-alert {#}
{#                position: fixed;#}
{#                top: 20px;#}
{#                right: 20px;#}
{#                z-index: 9999;#}
{#                padding: 15px 20px;#}
{#                background-color: #dc3545; /* Красный фон */#}
{#                color: #fff;#}
{#                border-radius: 5px;#}
{#                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);#}
{#                animation: fadeIn 0.5s ease;#}
{#                transition: opacity 0.5s ease;#}
{#            }#}
{##}
{#            #error-alert .close-btn {#}
{#                margin-left: 10px;#}
{#                cursor: pointer;#}
{#                font-weight: bold;#}
{#            }#}
{##}
{#            @keyframes fadeIn {#}
{#                from {#}
{#                    opacity: 0;#}
{#                    transform: translateX(20px);#}
{#                }#}
{#                to {#}
{#                    opacity: 1;#}
{#                    transform: translateX(0);#}
{#                }#}
{#            }#}
{##}
{#            .code-inputs {#}
{#                display: flex;#}
{#                gap: 10px;#}
{#                justify-content: center;#}
{#                align-items: center;#}
{#                margin-bottom: 20px;#}
{#            }#}
{##}
{#            .digit-input {#}
{#                width: 50px;#}
{#                height: 50px;#}
{#                text-align: center;#}
{#                font-size: 20px;#}
{#                border: 2px solid #ccc;#}
{#                border-radius: 8px;#}
{#                outline: none;#}
{#                transition: border-color 0.3s;#}
{#            }#}
{##}
{#            .digit-input:focus {#}
{#                border-color: #007bff;#}
{#                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);#}
{#            }#}
{##}
{#            .button-container {#}
{#                display: flex;#}
{#                justify-content: center;#}
{#                margin-top: 20px;#}
{#                margin-bottom: 50px;#}
{#            }#}
{##}
{#            .btn-submit {#}
{#                background-color: #eb0000;#}
{#                color: white;#}
{#                font-size: 18px;#}
{#                padding: 10px 20px;#}
{#                border: none;#}
{#                border-radius: 8px;#}
{#                cursor: pointer;#}
{#                transition: background-color 0.3s;#}
{#            }#}
{##}
{#            .btn-submit:hover {#}
{#                background-color: #c00000;#}
{#            }#}
{##}
{#        </style>#}
{##}
{#    </main>#}
{#{% endblock %}#}


{% extends 'auth/block/../../../block/base.html' %}
{% load humanize %}
{% block base %}
    <main class="client-template">
        <section class="main">
            <div class="container">
                <div class="content p-4 text-center">
                    <div class="text-center1">
                        <img style="width: 50px" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Accept.svg"
                             alt="">
                    </div>
                    <br>

                    <h4> Arizangiz qabul qilindi! </h4>
                    <p>Batafsil ma'lumot uchun operator yaqin vaqt ichida siz bilan aloqaga chiqadi.</p>
                    <p>Iltimos, telefoningiz yoqilgan holda bo'lsin!</p>
                    <br>

                    <div id="checkoutForm">
                        <table class="table" style="margin-bottom: 0px">
                            <thead>
                            <tr class="text-left">
                                <th>Mahsulot</th>
                                <th>Summa</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-left">
                                <th style="font-size: 18px; color: green">
                                    Yengil va zamonaviy oq krossovkalar erkaklar uchun, 39. Soni: 1 ta
                                </th>
                                <td style="font-size: 18px; color: green">
                                    {{ product.price|intcomma }} so'm
                                </td>
                            </tr>

                            <tr class="text-left" style="font-size: 18px; font-weight: bold">
                                <td>Yetkazib berish summasi:</td>
                                <td>{{ delivery.price|intcomma }} so'm</td>
                            </tr>

                            <tr class="text-center">
                                <td colspan="3">
                                    <strong style="font-size: 20px; color: red">
                                        Jami <br>
                                        {{ total|intcomma }} so'm
                                    </strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="related-products">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="productsList--item">
                                    <div class="productsList--item--image">
                                        <img src="https://100k.website.yandexcloud.net/resized/250x250/products/image/9bRdlWmoee3pJYEfYwkyReQEmz74pIQ4y30OJ2mb.jpg.webp"
                                             alt="Robot kamera Holdor">
                                    </div>
                                    <div class="productsList--item--info">
                                        <div class="productsList--item--title">
                                            {{ product.name }}
                                        </div>
                                        <div class="productsList--item--price">
                                            <strong class="font-weight-bold">{{ product.price|intcomma }}</strong>
                                            <span class="small">so'm</span>
                                        </div>
                                        <br>
                                        <form method="POST" action="https://100k.uz/add-item-to-order/9576210">
                                            <input type="hidden" name="_token"
                                                   value="yS7nEraPZ80EsAZU4qB2nZne11d6BQ6IBl5svIDP">
                                            <input type="hidden" name="product_id" value="2430">
                                            <input type="hidden" name="product_item_id" value="2536">
                                            <button type="submit"
                                                    class="productsList__btn btn btn-primary sk-btn sk-btn--primary sk-btn--block sk-btn--lg">
                                                Buyurtma qilish
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </section>

        <style>
        </style>
    </main>
{% endblock %}
